[package]
name = "clankers-urdf"
description = "URDF parsing, mesh loading, and robot spawning for Clankers"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
rust-version.workspace = true

[dependencies]

[lints]
workspace = true
